

.loading-waiting {
  /*background: linear-gradient(180deg, #94d600 0%, rgba(184, 213, 34, 0) 100%);*/
  background-color: transparent;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  backdrop-filter: blur(5px);
} 
.img-waiting {
  width: 150px;
  opacity: 0.8;
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}